.styled-text {
  hr {
    @apply my-8;
  }

  p {
    @apply mb-4 leading-relaxed;
  }

  a {
    @apply text-teal-500 underline;
    &:hover {
      @apply text-teal-600;
    }
  }


  h2 {
    @apply mt-10 mb-6 text-teal-500 font-medium text-2xl;
    @media screen and (min-width: 1024px) {
      @apply text-3xl;
    }
  }

  h3 {
    @apply mt-6 mb-1 text-gray-800 font-semibold text-xl;
    @media screen and (min-width: 1024px) {
      @apply text-2xl;
    }
  }

  h4 {
    @apply text-gray-800 font-semibold;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
  ul, ol {
    @apply mb-6;
  }

  ul ul, ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  }
  ol ol, ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
  }

  li {
    @apply mb-3 leading-relaxed;
  }

  li code, p code {
    @apply text-base bg-gray-200 text-gray-600;
  }

  h2 code, h3 code, h4 code {
    @apply bg-gray-200 text-gray-600;
  }

  @media screen and (min-width: 768px) {
    p, li, h4 {
      @apply text-xl;
    }
  }
}
